{
  "extends": ["@acuris"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": 0,
    "@typescript-eslint/prefer-regexp-exec": 0,
    "@typescript-eslint/restrict-plus-operands": 0,
    "@typescript-eslint/ban-types": 0
  }
}
