html,
body {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: #111;
  display: flex;
  justify-content: center;
}

#M {
  background: #000;
}

#T {
  bottom: 1.1rem;
  color: #fff;
  position: relative;
}

#S {
  width: 9px;
  height: 9px;
  position: absolute;
}
