*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

#M {
  background: #000;
}

#T {
  position: relative;
  color: #fff;
  bottom: 1.1rem;
}
