* {
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fca;
  text-shadow: 0px 0px 8px #000, -1px -1px 3px #000, 1px 1px 3px #000;
  font-size: min(3.6vmin, 35px);
}

input {
  width: 0.6rem;
  height: 0.6rem;
}

/* body and main div canvas */
body,
#M {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: papyrus, fantasy;
  text-align: center;
}

/* 2D canvas */
#D {
  position: relative;
  height: 100%;
  background: #002;
}

/* 3D canvas and main menu */
#C,
#N {
  position: absolute;
  top: 0;
}

/* Main menu and Text on screen */
#N,
#T {
  letter-spacing: 0.02rem;
}

/* Main menu */
#N {
  display: none;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px) contrast(300%) brightness(35%);
}

/* target only firefox */
@-moz-document url-prefix() {
  .N #C {
    filter: blur(15px) contrast(200%) brightness(50%);
  }
}

/* New game and Resume game buttons */
b {
  cursor: pointer;
}
b:hover {
  text-decoration: underline;
}

/* Text on sreen */
#T {
  left: 1rem;
  bottom: 0;
  position: absolute;
}

h1,
h3 {
  margin: 0.5em;
}

.N #T,
.N #D {
  display: none;
}

.N #N {
  display: block;
}

i {
  opacity: 0.8;
  font-size: 0.6em;
}
